/*o'read css style*/

@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400';

@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab&subset=latin-ext');


/*@import url(font-awesome-4.7.0/css/font-awesome.min.css);*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}


body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}

.container {
	width: 100%;
	background-color: #FFF;
	margin: 0 auto;
}

.header-inner{
	width:100%;
	height:400px;
	margin: 0 auto;
	background: url('oread-bg.png') no-repeat fixed center center;
	background-size: cover;
    font-family: 'Roboto', sans-serif;
    transform: translate3d(0px, 0px, 0px);
	color:#fff;
	text-align:center;
	z-index:100;
}

.layer{
	/*background-color: rgba(255, 33, 37, 0.3);*/
	background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*login modal*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
	font-family: 'Roboto', sans-serif;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 60px auto; /* 15% from the top and centered */
    padding: 30px;
	text-align:center;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	float: right;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

#tabs-1 li{
 	display: inline;
	list-style: none;
	border: none;
	border-right: 1px solid rgba(0,0,0,0.2);
}

#tabs-1 li:last-child{
	border: none;
}

#tabs-1 li a{
    color: black;
    text-align: center;
	margin: 0px 30px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1em;
	letter-spacing:0.05em;
	text-transform:uppercase;
}

.login-tabcontent{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.login-tabcontent h2{
	font-size:2.5em;
	font-weight:300;
}

.login-tabcontent p{
	color: #aaa;
	font-size:.9em;
	font-weight:500;
}

.social-option{
	margin: 0px auto;
	width: 310px;
	height:60px;
	text-align:center;
}

.social-option a{
	width:60px;
	height:18px;
	line-height:3;
	padding: 18px;
	text-decoration: none;
	color: #FFF;
	display: inline-block;
}

.social-option a.google-login{
	background: #DA483B;
}

.social-option a.facebook-login{
	background: #3B5999;
}

.social-option a.twitter-login{
	background: #01AAEB;
}


/* Full-width inputs */
.login-tabcontent input[type=text], input[type=password], input[type=email] {
    width: 300px;
    padding: 12px 20px;
    margin: 5px auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-tabcontent input:required {
    box-shadow:none;
}



/* Set a style for all buttons */
button {
    background-color: #0099CC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 300px;
	font-size:1em;
	font-weight:500;
	font-family: 'Roboto', sans-serif;
}

span.psw a{
	display: block;
	font-size: 0.9em;
	color: #aaa;
}


/*login modal*/

header{
	text-align:center;
	z-index:500;
	position: fixed;
	width: 100%;
	height: 60px;
	margin: 0;
	padding: 0;
	background:#FFF;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}


.logo{
	margin: 0px 0px;
	float:left;
}

/*search*/


/**, *:before, *:after {
  box-sizing: border-box;
}*/

label {
  display: inline-block;
  margin: 10px 20px;
  position: relative;
}

#search{
  display: block;
  width: 750px;
  height: 40px;
  border:none;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
  padding: 0px 20px;
  color: #333;
  background: #EDEDED;
  
}
#search:active, #search:focus {
  outline: 0;
}

#search::-webkit-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

#search::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

#search:-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

#search: :-ms-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

#search::placeholder {
  color: rgba(0, 0, 0, 0.5);
}



/*search*/

/* Style the list */

nav{width: 20%; height: 60px; float:right; text-align: right;}

nav ul {
    list-style-type: none;
	font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Float the list items side by side */
nav ul li {display: inline-block; list-style:none;}

/* Style the links inside the list items */
nav ul li{
	margin: 7px 18px;
    text-decoration: none;
    font-size: 1em;
	cursor: pointer;
	vertical-align:middle
}

nav a{
	color: #ccc;
}

/* Style the list */

section{
    top: 60px;
    position: relative; 
}

h1{
	font-family: 'Roboto', sans-serif;
	font-size:3.5em;
	font-weight: 300;
	margin-top: 158px;
}


/*content*/


.tabcontent {
    width: 90%;
	margin: 0px auto;
	font-family: 'Roboto', sans-serif;
}

#post-container{
	
	margin: 0px auto;
	width: 100%;
	padding: 12px 0px;
	text-align: center;
}

/*#post-container li:nth-child(3n+4){
	border-right: none;
}*/

.cols {
    -moz-column-count:3;
    -moz-column-gap: 1%;
    -moz-column-width: 30%;
    -webkit-column-count:3;
    -webkit-column-gap: 1%;
    -webkit-column-width: 30%;
    column-count: 3;
    column-gap: 1%;
    column-width: 30%;
}


#post-container li{
	list-style: none;
	width: 360px;
	height: auto;
	position: relative;
	margin: 10px 0px 0px;
	padding: 10px;
	display: inline-block;
	text-align: left;
	border-bottom: 1px solid rgba(0,0,0,0.08);
}

#post-container a{
	text-decoration: none;
}


.user-info img{
	width: 10%;
	border: 0;
	border-radius: 50%;
	outline: 0;
	float: left;
    display: block;
}

.user-info p{
	color: #333;
	font-size: .9em;
	margin: 10px 40px;
}

.user-info span{
	display: block;
	color: #aaa;
	font-size: .7em;
	margin: 0px 0px;
}


.category-info{
	margin: 22px 0px;
}

#category{
	width: auto;
	height: 10px;
	background: #FF2125;
	color: #FFF;
	font-size: .9em;
	top: 20px;
	padding: 5px;
}

.post-content h2{
	font-size: 1.1em;
	font-weight: 400;
	color: #333;
}

.image-wrap {
	border-radius: 10px 10px 10px 10px;
    max-height: 180px;
    overflow: hidden;
    max-width: 800px;       
    -webkit-transition: max-width .5s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: max-width .5s ease-out;  /* FF4+ */
    -ms-transition: max-width .5s ease-out;  /* IE10? */
    -o-transition: max-width .5s ease-out;  /* Opera 10.5+ */
    transition: max-width .5s ease-out;
}
 
.image-wrap img {
        width: 100%;
        -webkit-transition: margin-top .5s ease-out;  /* Saf3.2+, Chrome */
        -moz-transition: margin-top .5s ease-out;  /* FF4+ */
        -ms-transition: margin-top .5s ease-out;  /* IE10? */
        -o-transition: margin-top .5s ease-out;  /* Opera 10.5+ */
        transition: margin-top .5s ease-out;
    }
     
@media only screen and (min-width: 1160px) {
    .image-wrap { max-width: 1000px; }
}

.image-wrap img[src=""] {
    display: none;
}



.post-content p{
	font-size: .9em;
	font-family: 'Arbutus Slab', serif;
	line-height:1.5;
	font-weight: 400;
	color: #333;
}

.social-icon{
	height:30px;
	margin:0px -20px;
}


.social-icon a{
	color: #aaa;
	font-size: .8em;
	margin: 0px 0px;
	padding-left: 22px;
	text-decoration:none;
}

.social-icon a{
	color: #cbcbcb;
}

.fa {
  padding-right: 5px;
}

.social-icon a .fa:active {
  color:#F00;
}

/*content*/