/*o'read css style*/

@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400';

@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab&subset=latin-ext');


/*@import url(font-awesome-4.7.0/css/font-awesome.min.css);*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}


body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}

.container {
	width: 100%;
	background-color: #FFF;
	margin: 0 auto;
}

header{
	text-align:center;
	z-index:500;
	position: fixed;
	width: 100%;
	height: 60px;
	margin: 0;
	padding: 0;
	background:#FFF;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}


.logo{
	margin: 0px 0px;
	float:left;
}


/* Dropdown Button */

.dropdown {
    position: relative;

}

/* Dropdown Content (Hidden by Default) */
.drop-list {
    display: none;
	float: right;
    background: #FFF;
    min-width: 300px;
	height: 400px;
	overflow: hidden;
	margin: 0px 10px;
	border: 1px solid #000;
	text-align: left;
}

.drop-list li {
    list-style: none;
	float: left;
}

.drop-list h2 {
    text-align: center;
	font-weight: 400;
	font-size: 1em;
	text-transform: uppercase;
}

.drop-list a {
    color: black;
    text-decoration: none;
	font-size: .9em;
}

/* Change color of dropdown links on hover */
.drop-list a:hover {background-color: none; border: none;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/* Dropdown Button */


/* Style the list */

nav{width: 20%; float:right; margin: 4px 0px;}

nav ul {
	text-align:center;
    list-style-type: none;
	font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Float the list items side by side */
nav ul li {display: inline-block; list-style:none;}

/* Style the links inside the list items */
nav ul li a {
    display: inline-block;
    color: #ccc;
	margin: 20px 18px;
    text-decoration: none;
    font-size: 1.3em;
	cursor: pointer;
}

section{
    top: 60px;
    position: relative; 
}


/*content*/


.tabcontent {
    width: 70%;
	height: 500px;
	margin: 0px auto;
	padding: 20px;
	text-align:center;
	/*background: #333;*/
}

#heading_box{
	  display: block;
	  width: 90%;
	  height: 40px;
	  margin: 0px auto;
	  border:none;
	  border-radius: 5px;
	  font-size: 2em;
	  font-weight: 500;
	  font-family: 'Roboto', sans-serif;
	  padding: 20px;
	  color: #333;
	  background: #EDEDED;
}

#topic_box{
	  display: block;
	  text-align:left;
	  width: 90%;
	  height: 300px;
	  margin: 10px auto;
	  border:none;
	  border-radius: 5px;
	  font-size: 1em;
	  font-weight: 300;
	  font-family: 'Roboto', sans-serif;
	  padding: 20px;
	  color: #333;
	  background: #EDEDED;

}

/*Select box*/

.select-box{
	width: 80%;
	margin-left: 28px;
	/*background:#096;*/
}

.select-style:first-child { margin-left: 0px; }

.select-style {
	float: left;
	display: inline-block;
	border: 1px solid #ccc;
    width: 210px;
	margin: 10px 10px;
    border-radius: 5px;
    overflow: hidden;
    background: #fafafa url(icon-select.png) no-repeat 90% 50%;
}

.select-style select {
	color: grey;
	font-family: 'Roboto', sans-serif;
    padding: 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
	outline: none;
}

option{
	color: #333;
}


.select-style select:focus {
    outline: none;
}

/*Select Box*/

.fileUpload {
    width: 100px;
	height: 22px;
	margin: 10px 10px;
	padding: 6px;
	position: relative;
    overflow: hidden;
	background:#3e9cbf;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload:hover, focus {
color:#dfe7ea;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}

/*Select box*/

.post-btn{
	text-align: center;
	width:auto;
	float: left;
	background: #3e9cbf;
	padding: 10px;
	margin: 0px 28px;
	border:none;
	cursor:pointer;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	letter-spacing:.01em;
	color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.post-btn:hover, focus {
color:#dfe7ea;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}


.save-btn{
	text-align: center;
	width:auto;
	float: left;
	background: #3e9cbf;
	padding: 10px;
	margin: 0px -16px;
	border:none;
	cursor:pointer;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	letter-spacing:.01em;
	color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.save-btn:hover, focus {
color:#dfe7ea;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}


/*content*/